body {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

nav {
    display: inline-flex;
    justify-content: center;
    padding: 0px;
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: grey;
    border-radius: 10px;
}

.cat-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: -30px;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    text-align: center;
}

.kitty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.cat p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    max-width: 250px;
    margin-top: 10px;
    height: 100px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.footer p {
    text-align: center;
}
